<footer class="d-flex flex-wrap m-2 p-5 justify-content-between bg-light" style=" background-color: #fce77d;">
    <div class="text-dark">
    <p>Flat no.: 31-B/243</p>
    <p>Bachupally Road</p>
    <p>Hyderabad</p>
    </div>
    <div> 
        <img src="https://cdn-icons.flaticon.com/png/512/3389/premium/3389081.png?token=exp=1646225593~hmac=1856e3dfdc7fb45b35f7f4408fa696f9" width="80px" height="70px">
</div>
    <div class="text-dark">
    <p>quickquide@gmail.com</p>
    <p>+91 9876543219</p>
    <p>onestore</p>
    </div>
   </footer>
