

<div class="container">
    <!-- <pdf-viewer [src]="pdfSrc" 
    [render-text]="true"
    style="display: block;"
></pdf-viewer> --> 
   
 
  
        
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">IMP Topics</a></li>
      <li><a data-toggle="tab" href="#menu4">Textbooks</a></li>
      <li><a data-toggle="tab" href="#menu1">Materials</a></li>
      <li><a data-toggle="tab" href="#menu2">Previous year question papers</a></li>
      <li><a data-toggle="tab" href="#menu3">video links</a></li>
    </ul>
    
    <div class="tab-content">

        <div id="home" class="tab-pane fade in active">
            <h3 style="padding-left: 15px;">Important Topics</h3>
            
            <section>
                <!--for demo wrap-->
                <h1>UNIT-1</h1>
                <div class="tbl-header">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                      <tr>
                        <th style="width:10%"></th>
                        <th>Topic</th>
                        <th>Link</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="tbl-content">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                          <td style="width:10%"></td>
                        <td>Phases of Compilation</td>
                        <td><a href="https://www.geeksforgeeks.org/phases-of-a-compiler/">https://www.geeksforgeeks.org/phases-of-a-compiler/</a></td>
                        
                      </tr>
                      <tr>
                        <td style="width:10%"></td> 
                        <td>role of lexical analyzer </td>
                        <td><a href="https://www.tutorialspoint.com/what-is-the-role-of-the-lexical-analyzer-in-compiler-design">https://www.tutorialspoint.com/what-is-the-role-of-the-lexical-analyzer-in-compiler-design</a></td>
              
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td>transition diagram </td>
                        
                        <td><a href="https://www.geeksforgeeks.org/transition-diagram-for-identifiers-in-compiler-design/">https://www.geeksforgeeks.org/transition-diagram-for-identifiers-in-compiler-design/</a></td>
              
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td>pass and Phases of translation</td>
                       <td><a href=" https://www.tutorialspoint.com/compiler_design/compiler_design_architecture.htm"> https://www.tutorialspoint.com/compiler_design/compiler_design_architecture.htm</a></td>
                      </tr>

                      <tr>
                        <td style="width:10%"></td>
                        <td>LEX tool introduction</td>
                        <td><a href="https://www.javatpoint.com/lex">https://www.javatpoint.com/lex</a></td>
                        
                      </tr>
    
                    </tbody>
                  </table>
                </div>
              </section>
              
              <!--unit2-->
              <section>
                <!--for demo wrap-->
                <h1>UNIT-2</h1>
                <div class="tbl-header">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                      <tr>
                        <th style="width:10%"></th>
                        <th>Topic</th>
                        <th>Link</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="tbl-content">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td style="width:10%"></td>
                            <td>First & Follow</td>
                            <td><a href="https://youtu.be/DqdK8SKpajM">https://youtu.be/DqdK8SKpajM</a></td>
                           
                          </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td> LL(1) parsing </td>
                        <td><a href="https://youtu.be/h-BsLsMgqKk">https://youtu.be/h-BsLsMgqKk</a></td>
                       
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td> recursive descent parsing </td>
                        <td><a href="https://youtu.be/odoHgcoombw">https://youtu.be/odoHgcoombw</a></td>
                        
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td> Predictive parsing </td>
                        <td><a href="https://youtu.be/KbTkcSz4ulE">https://youtu.be/KbTkcSz4ulE</a></td>
                        
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td> Left recurssion </td>
                        <td><a href="https://www.tutorialspoint.com/what-is-left-recursion-and-how-it-is-eliminated">https://www.tutorialspoint.com/what-is-left-recursion-and-how-it-is-eliminated</a></td>
                     
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td> Left factoring </td>
                        <td><a href="https://www.gatevidyalay.com/left-factoring-examples-compiler-design/">https://www.gatevidyalay.com/left-factoring-examples-compiler-design/</a></td>
                        
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td> Context free grammars </td>
                        <td><a href="https://www.javatpoint.com/context-free-grammar">https://www.javatpoint.com/context-free-grammar</a></td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </section>


              <!--unit 3-->
              <section>
                <!--for demo wrap-->
                <h1>UNIT-3</h1>
                <div class="tbl-header">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                      <tr>
                        <th style="width:10%"></th>
                        <th>Topic</th>
                        <th>Link</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="tbl-content">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                     
                      <tr>
                        <td style="width:10%"></td>
                        <td>SLR Parsing</td>
                        <td><a href="https://youtu.be/sWBSQoKNDUo">https://youtu.be/sWBSQoKNDUo</a></td>
                       
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td>CLR Parsing</td>
                        <td><a href="https://youtu.be/GUDHi-ywWxQ">https://youtu.be/GUDHi-ywWxQ</a></td>
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td>LALR Parsing</td>
                        <td><a href="https://youtu.be/XEd4YdlBibM">https://youtu.be/XEd4YdlBibM</a></td>
                        
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td>Shift-Reduce parsing</td>
                        <td><a href="https://youtu.be/g9Pb5L8aLeI">https://youtu.be/g9Pb5L8aLeI</a></td>
                        
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td> YACC-Automatic parser generator tool</td>
                        <td><a href="https://www.google.com/amp/s/www.geeksforgeeks.org/introduction-to-yacc/amp/">https://www.google.com/amp/s/www.geeksforgeeks.org/introduction-to-yacc/amp/</a></td>
                        
                      </tr>
                      <tr>

                        <td style="width:10%"></td>
                        <td>Handling ambiguous grammar</td>
                        <td><a href="https://www.geeksforgeeks.org/ambiguous-grammar/amp/">https://www.geeksforgeeks.org/ambiguous-grammar/amp/</a></td>
                      </tr>
                    
                    </tbody>
                  </table>
                </div>
              </section>




              <!--unit4-->
              <section>
                <!--for demo wrap-->
                <h1>UNIT-4</h1>
                <div class="tbl-header">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                      <tr>
                        <th style="width:10%"></th>
                        <th>Topic</th>
                        <th>Link</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="tbl-content">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td style="width:10%"></td>
                        <td> Implementation of 3-address statements </td>
                        <td><a href="https://youtu.be/sv5Qmq8Hjz4">https://youtu.be/sv5Qmq8Hjz4</a></td> 
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td>Intermediate forms of source Programs</td>
                        <td><a href="https://youtu.be/yFVCw0N0nxo">https://youtu.be/yFVCw0N0nxo</a></td>
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td>Storage allocation strategies</td>
                        <td><a href="https://youtu.be/Lh00wocupnk">https://youtu.be/Lh00wocupnk</a></td>
                        
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td>Syntax directed definitions</td>
                        <td><a href="https://youtu.be/nIMBA0qO684">https://youtu.be/nIMBA0qO684</a></td>
                        
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td>Construction of syntax trees</td>
                        <td><a href="https://youtu.be/M8oQmaAfoJM">https://youtu.be/M8oQmaAfoJM</a></td>
                        
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td>Constructs into Intermediate code forms(Boolean expressions)</td>
                        <td><a href="https://youtu.be/Bqq26obqUoU">https://youtu.be/Bqq26obqUoU</a></td>
                        
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td>Flow of Control Statements</td>
                        <td><a href="https://youtu.be/75Tme7scP2k">https://youtu.be/75Tme7scP2k</a></td>
                       
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </section>


              <!--unit5-->
              <section>
                <!--for demo wrap-->
                <h1>UNIT-5</h1>
                <div class="tbl-header">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                      <tr>
                        <th style="width:10%"></th>
                        <th>Topic</th>
                        <th>Link</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="tbl-content">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
    
                     
                      <tr>
                        <td style="width:10%"></td>
                        <td>flow graph for partition algorithm </td>
                        <td><a href="https://youtu.be/NK1D1hdV374">https://youtu.be/NK1D1hdV374</a></td>
                       
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td>function preserving transformations</td>
                        <td><a href="https://www.javatpoint.com/optimization-of-basic-blocks">https://www.javatpoint.com/optimization-of-basic-blocks</a></td>
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td>loop optimizations</td>
                        <td><a href="https://youtu.be/Hn0iOYV385g">https://youtu.be/Hn0iOYV385g</a></td>
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td> DAG based Optimization of basic blocks </td>
                        <td><a href="https://youtu.be/fAjIlKmCuUY">https://youtu.be/fAjIlKmCuUY</a></td>
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td>Data Flow Analysis</td>
                        <td><a href="https://www.google.com/amp/s/www.geeksforgeeks.org/data-flow-analysis-compiler/amp/">https://www.google.com/amp/s/www.geeksforgeeks.org/data-flow-analysis-compiler/amp/</a></td>

                      </tr>
                     
                    </tbody>
                  </table>
                </div>
              </section>


              <!--unit6-->
              <section>
                <!--for demo wrap-->
                <h1>UNIT-6</h1>
                <div class="tbl-header">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                      <tr>
                        <th style="width:10%"></th>
                        <th>Topic</th>
                        <th>Link</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="tbl-content">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
    
                     
                      <tr>
                        <td style="width:10%"></td>
                        <td>Issues of code generation</td>
                        <td><a href="https://youtu.be/CrdVTw4JaiQ">https://youtu.be/CrdVTw4JaiQ</a></td>
                       
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td>Generating code from DAGS-</td>
                        <td><a href="https://youtu.be/jk8HCZurNUo">https://youtu.be/jk8HCZurNUo</a></td>
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td>simple code generator</td>
                        <td><a href="https://youtu.be/Zz94_c-xFvA">https://youtu.be/Zz94_c-xFvA</a></td>
                        
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td>peephole optimization</td>
                        <td><a href="https://youtu.be/id4p10d17KU">https://youtu.be/id4p10d17KU</a></td>
                        
                      </tr>
                      <tr>
                        <td style="width:10%"></td>
                        <td> register allocation and assignment</td>
                        <td><a href="https://youtu.be/J7DmP1hsd00">https://youtu.be/J7DmP1hsd00</a></td>
                        
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
              </section>
              
        </div>


      <div id="menu4" class="tab-pane fade">
        <div class="card-category-2">
            <ul>
                <li>
                   <div class="img-card iCard-style3">
                        <div class="card-content">
                            <div class="card-image">
                                <span class="card-title">....</span>
                                <img src="https://images-na.ssl-images-amazon.com/images/I/51BBfB-ibjL.jpg"/>
                            </div>
                            
                            
                            
                        </div>
                        
                        <div class="card-link">
                            <a href="C:/Users/Sahithi/Downloads/ModernCompilerImplementationinCbyAndrewN.pdf" title="Read Full">
                                <span>Download</span>
                            </a>
                        </div>
                    </div>        
                </li>
                <li>
                    <div class="img-card iCard-style3">
                        <div class="card-content">
                            <div class="card-image">
                                <span class="card-title">....</span>
                                <img src="https://images-na.ssl-images-amazon.com/images/I/51KAY999EBL._SX370_BO1,204,203,200_.jpg"/>
                            </div>
                            
                            
                            
                        </div>
                        
                        <div class="card-link">
                           
                            <a href="C:/Users/Sahithi/Downloads/CompilersbyAho%20(1).pdf" title="Read Full">
                                <span>Download</span>
                            </a>
                        </div>
                    </div>                    
                </li>
                <li>
                    <div class="img-card iCard-style3">
                        <div class="card-content">
                            <div class="card-image">
                                <span class="card-title">....</span>
                                <img src="https://m.media-amazon.com/images/I/41Kv3Ape1UL.jpg"/>
                            </div>
                        </div>
                        
                        <div class="card-link">
                            <a href="#" title="Read Full">
                                <span>Download</span>
                            </a>
                        </div>
                    </div>                    
                </li>
                
            </ul>
            </div>
      </div>
      






      <div id="menu1" class="tab-pane fade">
        <div class="card-category-2">
        <ul>
            <li>
               <div class="img-card iCard-style3">
                    <div class="card-content">
                        <div class="card-image">
                            <span class="card-title">Unit-1</span>
                            <img src="https://www.dropbox.com/s/tclqbz7o4u8e705/ipad-632394_640.jpg?raw=1"/>
                        </div>
                        
                        
                        
                    </div>
                    
                    <div class="card-link">
                        <a href="C:\Users\ACER\Downloads\2year 2sem\CSE R19 New Syllabus.pdf" title="Read Full">
                            <span>Download</span>
                        </a>
                    </div>
                </div>        
            </li>
            <li>
                <div class="img-card iCard-style3">
                    <div class="card-content">
                        <div class="card-image">
                            <span class="card-title">Unit-2</span>
                            <img src="https://www.dropbox.com/s/tclqbz7o4u8e705/ipad-632394_640.jpg?raw=1"/>
                        </div>
                        
                        
                        
                    </div>
                    
                    <div class="card-link">
                        <a href="C:\Users\ACER\Downloads\2year 2sem\CSE R19 New Syllabus.pdf" title="Read Full">
                            <span>Download</span>
                        </a>
                    </div>
                </div>                    
            </li>
            <li>
                <div class="img-card iCard-style3">
                    <div class="card-content">
                        <div class="card-image">
                            <span class="card-title">Unit-3</span>
                            <img src="https://www.dropbox.com/s/tclqbz7o4u8e705/ipad-632394_640.jpg?raw=1"/>
                        </div>
                    </div>
                    
                    <div class="card-link">
                        <a href="#" title="Read Full">
                            <span>Download</span>
                        </a>
                    </div>
                </div>                    
            </li>

            <li>
                <div class="img-card iCard-style3">
                    <div class="card-content">
                        <div class="card-image">
                            <span class="card-title">Unit-4</span>
                            <img src="https://www.dropbox.com/s/tclqbz7o4u8e705/ipad-632394_640.jpg?raw=1"/>
                        </div>
                        
    
                        
                    </div>
                    
                    <div class="card-link">
                        <a href="#" title="Read Full">
                            <span>Download</span>
                        </a>
                    </div>
                </div>                    
            </li>
            <li>
                <div class="img-card iCard-style3">
                    <div class="card-content">
                        <div class="card-image">
                            <span class="card-title">Unit-5</span>
                            <img src="https://www.dropbox.com/s/tclqbz7o4u8e705/ipad-632394_640.jpg?raw=1"/>
                        </div>
                        
    
                        
                    </div>
                    
                    <div class="card-link">
                        <a href="#" title="Read Full">
                            <span>Download</span>
                        </a>
                    </div>
                </div>                    
            </li>
            <li>
                <div class="img-card iCard-style3">
                    <div class="card-content">
                        <div class="card-image">
                            <span class="card-title">Unit-6</span>
                            <img src="https://www.dropbox.com/s/tclqbz7o4u8e705/ipad-632394_640.jpg?raw=1"/>
                        </div>
                        
    
                        
                    </div>
                    
                    <div class="card-link">
                        <a href="#" title="Read Full">
                            <span>Download</span>
                        </a>
                    </div>
                </div>                    
            </li>
        </ul>
</div>







      </div>
      
      <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      
      <div id="menu3" class="tab-pane fade">
        <h3>Menu 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      
    </div>
    
    
  </div>
  