<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-75">
        <img src="https://m-tutor.com/resource/img/compiler%20design.svg" class="card-img-top h-50" alt="...">
        <div class="card-body">
          <h5 class="card-title">Compiler Design</h5>
          <p class="card-text">This course studies the principles of programming languages with an emphasis on programming language implementation and compiler design. This includes various techniques for describing and defining a language.</p>
        </div>
        <div class="card-footer">
          <button class="btn-warning " routerLink="compilerdes" routerLinkActive="active" > Open</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-75">
        <img src="https://1.bp.blogspot.com/-ji0b2CRNVaA/YDZ3V5AEjyI/AAAAAAAABFE/LT_3uc1x3goZGKlJ6iBVmZHbDtWDTcpuwCLcBGAsYHQ/w1200-h630-p-k-no-nu/5_Advantages_and_Disadvantages_of_Operating_System_Limitations_%2526_Benefits_of_Operating_System.jpg" class="card-img-top h-50" alt="...">
        <div class="card-body">
          <h5 class="card-title">Operating System</h5>
          <p class="card-text">Covers the classical internal algorithms and structures of operating systems, including CPU scheduling, memory management, and device management. </p>
        </div>
        <div class="card-footer">
            <button class="btn-warning "  > Open</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-75">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYJPDTOWK7AxuqSCqS2eaa1hu6WaaK2J5pRQ&usqp=CAU" class="card-img-top h-50" alt="...">
        <div class="card-body">
          <h5 class="card-title">Computer Networks</h5>
          <p class="card-text">This course provides an introduction to computer networks, with a special focus on the Internet architecture and protocols. </p>
        </div>
        <div class="card-footer">
            <button class="btn-warning "  > Open</button>
        </div>
      </div>
    </div>
  </div>


  
  <div class="container">
    <router-outlet></router-outlet>
   </div>
