<nav class="navbar navbar-expand-lg display-right navbar-light bg-light "style="background-color:rgb(245, 229, 9);" >
    <div class="container-fluid">
      <img src="https://cdn-icons-png.flaticon.com/512/1705/1705312.png" width="100px" height="90px">
     <h1 class="text" style="font-size: 100px;">Quick Guide</h1>
    <button class="navbar-toggler m-2 bg-warning" type="button" data-bstoggle="collapse" data-bs-target="#navbarSupportedContent" ariacontrols="navbarSupportedContent" aria-expanded="false" arialabel="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
    <li class="nav-item">
    <a class="nav-link p2 " routerLink="home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link  p2 textright" routerLink="register" routerLinkActive="active">Register</a>
    </li>
    <li class="nav-item">
    <a class="nav-link  p2" routerLink="login" routerLinkActive="active">Login</a>
    </li>
     <li class="nav-item">
      <a class="nav-link  p2" routerLink="subjects" routerLinkActive="active">Syllabus</a>
      </li> 
     
      <!-- <div class="container">
        <router-outlet></router-outlet>
       </div> -->
    <li class="nav-item">
    <a class="nav-link p2" routerLink="contactus" routerLinkActive="active">Contact us</a>
    </li>
    

    </ul>
    </div>
    </div>
   </nav>
    <div class="container">
    <div><router-outlet></router-outlet></div>
   </div>
   <app-footer class="mt-auto"></app-footer> 
   
