<img src="https://media.istockphoto.com/vectors/contact-us-symbols-social-media-network-icon-symbols-colour-color-vector-id1192055884?k=6&m=1192055884&s=612x612&w=0&h=8h0OTHYbT93CSKUaoucTtsuMpwmRz0S64SMVKdG3vL0=" width="600px" height="200px"alt="">
<h2 class="text-center text-warning m-4">Contact us  </h2>
<p >@instagram : quickquideoff<br>@facebook : quickguidefb <br>@mail : quickguide@gmail.com</p>
<div class="row text-white">
 <div class="col-md-3 col-sm-2 text-center"></div>
 <div class="col-md-6 col-sm-8">
 <form>
 <div class="mb-3 mt-3">
 <label for="help" class="formlabel">Give us an oppurtunity to improve?</label>
 <br>
 <textarea name="textarea" id="help" cols="100" rows="2"></textarea>
 </div>
 <button class="btn btn-success mx-auto d-block mb4">Send </button>
 </form>
 </div>
 <div class="col-md-3 col-sm-2"></div>
</div>
